{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <h1>Member index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Member</th>
        </tr>
        </thead>
        <tbody>

        {% for member in members %}
            <tr>
                <td>{{ member.id }}</td>
                <td><a href="{{  path('member_show',{'id':member.id}) }}">{{ member.name }}</a> </td>
            </tr>
        {% endfor %} {# members #}

        </tbody>
    </table>


{% endblock %} {# body #}