{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block main %}
    <h1>Cards index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Card</th>
        </tr>
        </thead>
        <tbody>

        {% for card in cards %}
            <tr>
                <td>{{ card.id }}</td>
                <td><a href="{{  path('card_show',{'id':card.id}) }}">{{ card.name }}</a> </td>
            </tr>
        {% endfor %} {# cards #}

        </tbody>
    </table>


{% endblock %} {# main #}