{% extends 'base.html.twig' %}

{% block title %}New Card{% endblock %}

{% block main %}
    <h1>Create new Card</h1>

    {{ include('card/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('app_card_index') }}">back to list</a>
{% endblock %}
