{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block main %}
    <h1>Gallery index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Gallery</th>
        </tr>
        </thead>
        <tbody>

        {% for gallery in galleries %}
            <tr>
                <td>{{ gallery.id }}</td>
                <td><a href="{{  path('gallery_show',{'id':gallery.id}) }}">{{ gallery.name }}</a> </td>
            </tr>
        {% endfor %} {# galleries #}

        </tbody>
    </table>


{% endblock %} {# main #}