{% extends 'base.html.twig' %}

{% block title %}Edit Village{% endblock %}

{% block main %}
    <h1>Edit Village</h1>

    {{ include('village/_form.html.twig', {'button_label': 'Update'}) }}

    <li> <a href="{{ path('app_card_new') }}"> new card </a></li>

    <li><a href="{{ path('app_village_index') }}">back to list</a></li>

    {{ include('village/_delete_form.html.twig') }}
{% endblock %}
