{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <h1>Village index</h1>

    <ul>
        {% for village in villages %}
            <li>{{ village.name }}</li>
        {% endfor %} {# villages #}
    </ul>

{% endblock %} {# body #}