{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <h1>Village index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Village</th>
        </tr>
        </thead>
        <tbody>

        {% for village in villages %}
        <tr>
            <td>{{ village.id }}</td>
            <td>{{ village.name }}</td>
        </tr>
        {% endfor %} {# villages #}

        </tbody>
    </table>


{% endblock %} {# body #}