{% extends 'base.html.twig' %}

{% block title %}Village index{% endblock %}

{% block main %}
    <h1>Village index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for village in villages %}
            <tr>
                <td>{{ village.id }}</td>
                <td>{{ village.name }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_village_show', {'id': village.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('app_village_edit', {'id': village.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
