{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <h1>Village</h1>

    {% dump village %}

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <th>Village</th>
        </tr>
        <tr>
            <td>{{ village.id }}</td>
            <td>{{ village.name }}</td>

        </tr>



        </tbody>
    </table>

    <a href="{{ path('village_index') }}">back to list</a>

{% endblock %}